/*
Azul del Tema de David
#7dcbe1 
Rosa
#f5ddea

*/
@keyframes blinker {
	50% 
	{
		opacity: 0;
	}
};
.clara-box
{
	border: 1px solid red ;
}

.img-addproject
{
	padding: 15px ;
	margin: 5px ;
}
.projectbox
{
	border: 1px solid #7dcbe1;
	margin:10px;
	color: #7dcbe1 ;
	font-size:12px;
	width: 100%; 
}

.current-projectbox
{
	/*padding:15px;*/
	background-color: #f5ddea ;
	/*margin:5px;*/
	color: white;
	font-size:12px;
	width: 100%; 
}

.css-footer
{
	/*border: 1px solid #7dcbe1 ; */
	width:100%; 
	text-align:center;
	/*background-color: #616A7F;*/
	margin-top:10px ;
	padding:10px ;
	
}

.project-title
{
	font-size: 30px;
}

.header
{
	width: 100%; 
	/*border: 3px solid black; */
	padding:15px ;
}

.create-new-project-form
{
	display:none;
}
.tasks-list-header
{
	/*  border: 1px solid black; */
	width:100%; 
	text-align:center;	
}



/*PROJECT'S GRID*/
#projectslist{
}

.header
{
	text-align:center;
	/*border:2px solid #7dcbe1 ;*/
}




/*END PROJECTS GRID*/

.tasks-list-item
{
	display: grid;
	grid-template-columns: 10% 30% auto auto;
	/*border: 1px solid #7dcbe1 ; */
	width:100%;
	padding-top: 10px;
	margin-top:10px;
}



.tasks-list-item-content
{
	 /* border: 1px solid red; */
}


.tasks-list-item-actions
{
	/*    border: 1px solid yellow;  */
	display:none;
}

.tasks-list-item-actions-left
{
}

.tasks-list-item-actions-right
{
}

.tasks-list-actions
{
	/*  border: 1px solid black;  */
	width:100%; 
	text-align:center;	
}
